/1.spec
/test
/build
/Calculator_Test-main
/dist
/dz.docx
/fail.py
/hakaton
/lava
/lessons.py
/list_cort_dict.py
/mydatabase.db
/neuron
/parol_morze.py
/proect_bot.py
/sort
/telephon_book.py
/web_5_8
/__pycache__
/для тестов
/исключения.docx
/лого.jpg
/собес по питону.docx
/таблицы истинности.jpg
/файлы.png
/calk_code.py
/11_11.py
/cli_book_custom.py
/tabak_bot
/Tkinter
/les4.db