.block0{ 
    top: 88px;
    position: absolute;
    z-index: -1;
} 

/*.blocka{
    position:fixed;
}*/

.block1{ 
    position:fixed; 
    width: 75px; 
    border: 1px solid gray;
    z-index: 1;
} 
 
.block2{ 
    left: 100px; 
    top: 30px; 
    background-color: aliceblue; 
    position: fixed; 
    border: 1px solid gray; 
    z-index: 1;
} 
 
.block3{ 
    top: 12.5px; 
    background-color: aliceblue; 
    position:fixed; 
    right: 175px; 
    z-index: 1;
} 
 
.block4{ 
    top: 12.5px; 
    left: 340px; 
    background-color: royalblue; 
    position: fixed;
    z-index: 1; 
} 
 
.block5{ 
    top: 12.5px; 
    background-color: aliceblue; 
    position:fixed; 
    right: 105px; 
    z-index: 1;
} 
 
.block6{ 
    top: 12.5px; 
    background-color: aliceblue; 
    position:fixed; 
    right: 35px;
    z-index: 1;
}

.block7{ 
    top: 7.5px; 
    background-color: aliceblue; 
    position:fixed; 
    left:570px;
    z-index: 1;
    border: 3px dashed gray;
}

.chaptl{
    left: -190px;
    top: 100px;
    position: fixed;
    width: 200px;
    text-decoration-color: black;
    background-color: white;
    border: 7px dashed gray;
    text-align: center;
    font-size: 15pt; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    color: black;
    text-decoration-color: aliceblue;
    transition: ease-in 300ms;
    -webkit-transition: ease-in 300ms;
    z-index: 1;
}

.chaptl:hover{
    left: 0px;
}

.hat{
    position:fixed;
    left:0px;
    top:0px;
    z-index: 0;
    opacity: 50%;
}

.stra{
    position: fixed;
    top: 78px;
    width:100%;
    height:5px;
}

.tittle{
    text-align: center;
    z-index: 2;
}

.smth{
    position:relative;
    text-align: center;
    top:300px;
    width: 100%;
    transition: width 1s;
    -webkit-transition: width 1s;
    transition: ease-in 1s;
    -webkit-transition: ease-in 1s;
}

.smth:hover{
    width:50%;
    left:25%;
}

.bio{
    position:absolute;
    top:200px;
    z-index: -1;
    left:610px;
}

.img_png{
    position: relative;
    z-index: -1;
    align-items: center;
    left:760px;
    top:-222px;
    width: 400px;
}

.about_us{
    position: relative;
    text-align: center;
    padding: 5px;
    position: relative;
    top: 720px;
    z-index: -1;
}

.file1{
    top: 1995px;
    left: 162px;
    position: absolute;
    width: 512px;
    text-decoration-color: black;
    background-color: white;
    border: 1px solid gray;
    font-size: 10pt; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: black;
    text-decoration-color: aliceblue;
    z-index: -1;
    transition: 1s;
}

.file2{
    top: 1995px;
    left: 704px;
    position: absolute;
    width: 512px;
    text-decoration-color: black;
    background-color: white;
    border: 1px solid gray;
    font-size: 10pt; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: black;
    text-decoration-color: aliceblue;
    z-index: -1;
    transition: 1s;
}

.file3{
    top: 1995px;
    left: 1246px;
    position: absolute;
    width: 512px;
    text-decoration-color: black;
    background-color: white;
    border: 1px solid gray;
    font-size: 10pt; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: black;
    text-decoration-color: aliceblue;
    z-index: -1;
    transition: 1s;
}

.file4{
    top: 2698px;
    left: 162px;
    position: absolute;
    width: 512px;
    text-decoration-color: black;
    background-color: white;
    border: 1px solid gray;
    font-size: 10pt; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: black;
    text-decoration-color: aliceblue;
    z-index: -1;
    transition: 1s;
}