body {
    background: #000;
    margin: 0;
}

#garland {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://imapo.ru/img/christmas.png');
    height: 36px;
    width: 100%;
    overflow: hidden;
    z-index: 99
}

#nums_1 {
    padding: 100px
}

.garland_1 {
    background-position: 0 0
}

.garland_2 {
    background-position: 0 -36px
}

.garland_3 {
    background-position: 0 -72px
}

.garland_4 {
    background-position: 0 -108px
}