p.small {
    font-size: 50px;
    /* font-style: italic;
    font-weight: bold; */
    font-variant: normal;
    color: aqua;
    /* text-align: center; */
}

p.medium {
    font-size: 50px;
    /* font-style: normal;
    font-weight: bolder; */
    font-variant: small-caps;
    color: rgb(104, 151, 179);
    /* text-align: justify; */
}

p.large {
    font-size: 50px;
    /* font-style: italic;
    font-weight: lighter; */
    font-variant: inherit;
    /* text-align: right; */
}

p.xlarge {
    font-size: 50px;
    /* font-style: oblique;
    font-weight: normal; */
    /* text-align: left; */
}