body {
    font-family: Arial, Verdana, sans-serif;
    /* Семейство шрифтов */
    font-size: 11pt;
    /* Размер основного шрифта в пунктах  */
    background-color: #f0f0f0;
    /* Цвет фона веб-страницы */
    color: #333;
    /* Цвет основного текста */
}

h1 {
    color: #a52a2a;
    /* Цвет заголовка */
    font-size: 24pt;
    /* Размер шрифта в пунктах */
    font-family: Georgia, Times, serif;
    /* Семейство шрифтов */
    font-weight: normal;
    /* Нормальное начертание текста  */
}

p {
    text-align: justify;
    /* Выравнивание по ширине */
    margin-left: 60px;
    /* Отступ слева в пикселах */
    margin-right: 10px;
    /* Отступ справа в пикселах */
    border-left: 1px solid #999;
    /* Параметры линии слева */
    border-bottom: 1px solid #999;
    /* Параметры линии снизу */
    padding-left: 10px;
    /* Отступ от линии слева до текста  */
    padding-bottom: 10px;
    /* Отступ от линии снизу до текста  */
}